<h1>Index of Hospital Database Functionality Pages</h1>
        <fieldset>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2">
                            <hr />
                        </th>
                    </tr>
                    <tr>
                        <th align="left">
                            <a href="/department">Add a DEPARTMENT / View Existing DEPARTMENTs</a>
                        </th>
                        <td>
                            <p>Use this page to add a new department to the database and view all existing ones.</p>
                        </td>
                    </tr>
                    <tr>
                        <th align="left">
                            <a href="/patient">Add/Remove or Update a PATIENT / View Existing PATIENTs</a>
                        </th>
                        <td>
                            <p>Use this page to add or remove a patient from the database or update an existing one.</p>
                        </td>
                    </tr>
                    <tr>
                        <th align="left">
                            <a href="/branch">Add a BRANCH / View Existing BRANCHes</a>
                        </th>
                        <td>
                            <p>Use this page to add a new branch to the database and view all existing ones.</p>
                        </td>
                    </tr>
                    <tr>
                        <th align="left">
                            <a href="/doctor">Add a DOCTOR / View Existing DOCTORs</a>
                        </th>
                        <td>
                            <p>Use this page to add a new doctor to the database and view all existing ones.</p>
                        </td>
                    </tr>
                    <tr>
                        <th align="left">
                            <a href="/doctor_branch">Add/Remove a DOCTOR/BRANCH Association</a>
                        </th>
                        <td>
                            <p>Use this page to view or change current branches where doctors work.</p>
                        </td>
                    </tr>
                    <tr>
                        <th align="left">
                            <a href="/doctor_department">Add/Remove a DOCTOR/DEPARTMENT Association</a>
                        </th>
                        <td>
                            <p>Use this page to view or change current departments where doctors work.</p>
                        </td>
                    </tr>
                </tbody>

            </table>


        </fieldset>
